name: Deploy to Netlify

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      - name: Build frontend
        run: npm run build
        working-directory: ./frontend

      - name: Deploy Frontend to Netlify
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            npx netlify-cli deploy --dir=frontend/dist --site ${{ secrets.NETLIFY_SITE_ID_FRONTEND }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --prod
          else
            npx netlify-cli deploy --dir=frontend/dist --site ${{ secrets.NETLIFY_SITE_ID_FRONTEND }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}
          fi

  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install
        working-directory: ./backend-feli

      - name: Build backend
        run: pnpm sanity build
        working-directory: ./backend-feli

      - name: Deploy Backend to Netlify
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            npx netlify-cli deploy --dir=backend-feli/dist --site ${{ secrets.NETLIFY_SITE_ID_BACKEND }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --prod
          else
            npx netlify-cli deploy --dir=backend-feli/dist --site ${{ secrets.NETLIFY_SITE_ID_BACKEND }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}
          fi

  